.table_center{
    width: 80%;
    padding:50px 10px 50px 10px;
    margin-left: 100px;
}

form.form-inline > div {
    padding-top: 20px;

}

form.form-inline > div > div >label {
    width: 30%;

}

form.form-inline > div > div >select {
    width: 44.5%!important;

}